
.dark .cv-header,
.dark .cv-header-day {
    color: white;
	background-color: #121212;
}

.dark .cv-header .periodLabel {
    color: white;
}

.dark .cv-header .category-button {
	color: #f8f7f7;
}

.dark .cv-header button:disabled {
	color: #ccc;
	background-color: #f7f7f7;
}

.dark .cv-header .button {
	color: white !important;
}

.dark .cv-item {
    color: white;
}

/* Grid */

.dark .cv-weeknumber {
	background-color: #121212;
	border-color: #ccc;
	color: #808080;
}

.dark .tu-count {
    color: white;
}

.dark .cv-weeknumber span {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dark .previousYear, .dark .previousPeriod, .dark .nextPeriod, .dark .nextYear, .dark .currentPeriod {
    color: white;
    background: black;
    border: none;
}
.dark .cv-day:hover {
	cursor: pointer;
	background-color: rgba(38, 39, 41, 0.9);
}

.dark .cv-day.past:hover {
    background-color: rgba(38, 39, 41, 0.9);;
}


.dark .cv-day.outsideOfMonth {
	cursor: pointer;
	background-color: #121212;
}

.dark .cv-day {
    background: #121212;
}

.dark .cv-day.today {
	background-color: rgba(26, 26, 27, 1.2);;
}

.dark .cv-day[aria-selected="true"] {
	background-color: #121212;
}

/* Events */

.dark .cv-item.continued::before,
.dark .cv-item.toBeContinued::after {
	content: " \21e2 ";
	color: #999;
}

.dark .cv-item.toBeContinued {
	border-right-style: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.dark .cv-item.isHovered.hasUrl {
	text-decoration: underline;
}

.dark .cv-item.continued {
	border-left-style: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Event Times */

.dark .cv-item .startTime,
.dark .cv-item .endTime {
	font-weight: bold;
	color: #666;
}

/* Drag and drop */

.dark .cv-day.draghover {
	box-shadow: inset 0 0 0.2em 0.2em yellow;
}

.dark .cv-day-number {
    color: white;;
}

.dark .cv-header-days,
.dark .cv-header-day,
.dark .cv-weeks,
.dark .cv-week,
.dark .cv-day {
	border-color: #121212;
	border-style: solid;
}

