.vs-button-group
  justify-content: center
  .vs-button
    margin: 0px
  .vs-button:not(:last-of-type):not(:first-of-type)
    border-radius: 0px
    &.vs-button-border
      border-left: 0px
    &.vs-button-border:last-of-type
      border-right: 0px
  .vs-button:last-of-type
    border-radius: 0px 12px 12px 0px
  .vs-button:first-of-type
    border-radius: 12px 0px 0px 12px