:root{
  @extend :root;
  --tu-primary: 25, 91, 255;
  --tu-warn: 255, 186, 0;
  --tu-danger: 255,71,87;
  --tu-success: 70,201,58;
  --tu-dark: 30,30,30;
  --tu-light: 244,247,248;
  --tu-color: 17,18,20;

  // social colors

  --tu-facebook: 59, 89, 153;
  --tu-twitter: 29, 161, 242;
  --tu-youtube: 255, 0, 0;
  --tu-pinterest: 189, 8, 28;
  --tu-linkedin: 0, 119, 181;
  --tu-snapchat: 255, 252, 0;
  --tu-whatsapp: 37, 211, 102;
  --tu-tumblr: 54, 70, 93;
  --tu-reddit: 255, 69, 0;
  --tu-spotify: 30, 215, 96;
  --tu-amazon: 255, 153, 0;
  --tu-medium: 2, 184, 117;
  --tu-vimeo: 26, 183, 234;
  --tu-skype: 0, 175, 240;
  --tu-dribbble: 234, 76, 137;
  --tu-slack: 74, 21, 75;
  --tu-yahoo: 67, 2, 151;
  --tu-twitch: 100, 65, 164;
  --tu-discord: 114, 137, 218;
  --tu-telegram: 0, 136, 204;
  --tu-google-plus: 219, 68, 55;
  --tu-messenger: 0, 132, 255;

  // theme

  --tu-background: 255, 255, 255;
  --tu-text: 44, 62, 80;
  --tu-gray-1: 249, 252, 253;
  --tu-gray-2: 244, 247, 248;
  --tu-gray-3: 240, 243, 244;
  --tu-gray-4: 230, 233, 234;
  
  --tu-colors {
    primary: --tu-primary;
    secondary: --tu-secondary;
    danger: --tu-danger;
    success: --tu-success;
    warning: --tu-warning;
    dark: --tu-dark;
    light: --tu-light;
    background: --tu-background;
    text: --tu-text;
    color: --tu-color;
  }
}

[class*="--primary"]{
  --tu-color: var(--tu-primary);
}
[class*="--default"]{
  --tu-color: var(--tu-primary);
}
[class*="--danger"]{
  --tu-color: var(--tu-danger);
} 
[class*="--success"]{
  --tu-color: var(--tu-success);
}
[class*="--dark"]{
  --tu-color: var(--tu-dark);
}
[class*="--warn"]{
  --tu-color: var(--tu-warn);
}
  


