@import "./mixins";
:root {
	@extend :root;
	body.dark {
		--tu-background: 21, 22, 25 !important;
		--tu-text: 255, 255, 255 !important;
		--tu-dark: 30, 30, 30 !important;
		--tu-gray-1: 51, 52, 55 !important;
		--tu-gray-2: 30,31,34 !important;
		--tu-gray-3: 15, 16, 19 !important;
		--tu-gray-4: 10, 11, 14 !important;
		--tu-shadow-opacity: 0.3 !important;
    	--tu-color: 125, 125, 150 !important;
		--tu-background-opacity: 0.6 !important;
	}
}
