.notification-enter-active{
  transition: all .3s ease .05s, transform .3s ease, margin .25s ease, clip-path 8s ease .8s;
}

.notification-leave-active{
  transition: all .25s ease !important;
}

.notification-leave-from{
  max-height: 0px !important;
  // height: 0px !important
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  opacity: 0 !important;
  clip-path: circle(0% at 80% 35%) !important;
  transform: translate(0,10px) !important;
}

.notification-enter-from{

  &.vs-notification-parent--bottom-left{
    transform: translate(-25%);
  }
  &.vs-notification-parent--top-left{
    transform: translate(-25%);
  }
  &.vs-notification-parent--top-right{
    transform: translate(25%);
  }
  &.vs-notification-parent--bottom-right{
    transform: translate(25%);
  }
  &.vs-notification-parent--top-center{
    transform: translateY(-25%);
  }
  &.vs-notification-parent--bottom-center{	
    transform: translateY(25%);	
  }
  
}