:root {
    @extend :root;
    --vs-shadow-opacity: 0.05;
    --vs-radius: 20px;
    --vs-zindex-1: 100000;
    --vs-zindex-2: 99000;
    --vs-zindex-3: 98000;
    --vs-zindex-4: 97000;
    --vs-background-opacity: 0.2;
    --vs-disabled-opacity: 0.5;
    --vs-disabled-pointer: default;
}
