@import "_colors";
@import "_vars";
@import "_dark";
@import "_reset";


.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// body.dark {
// 	background-color: -var("background") !important;
// }
