/*
GLOBAL COLORS
*/

$vs-primary = 26, 92, 255;
$vs-secondary = 108, 117, 125;
$vs-danger = 255, 71, 87;
$vs-success = 70, 201, 58;
$vs-warning = 255, 186, 0;
$vs-dark = 30, 30, 30;
$vs-light = 245, 245, 245;
$vs-background = 255, 255, 255;
$vs-text = 44, 62, 80;
$vs-color = 17, 18, 20;




$vs-colors ?= {
	primary: $vs-primary,
	secondary: $vs-secondary,
	danger: $vs-danger,
	success: $vs-success,
	warning: $vs-warning,
	dark: $vs-dark,
	light: $vs-light,
	background: $vs-background,
	text: $vs-text,
	color: $vs-color
};
